/* styles pour écrans entre 600px et 900px de largeur */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav{
    display: flex;
    gap: 75px;
    margin-top: 3.5em;
}

nav a{
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 1.2em;
    font-family: 'Teko', sans-serif;
    color: #354369;
}

nav a:hover{
    color: #f5f5f5;
}

nav a:active{
    color: #feca00;
    text-decoration: underline;
}

header img{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 15em;
    width: auto;
    margin: -3em;
}

/* fin HEADER / Debut MAIN*/
/* DEBUT 1 ERE SECTION (BANDEAU PRINCIPAL) */

.index_presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/fond-site-thomas.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 25em;
    width: auto;
}

.index_presentation h1{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-shadow: #feca00 2.5px 2.5px 2px ;
}

.liens_presentation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px; 
}

.liens_individuels{
    background-color: #feca00;
    color: #354369;
    background-size: 20px;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    border-radius: 2em;
    padding: 10px 20px 10px 20px;
}

.liens_individuels:hover{
    box-shadow: #feca00 2px 2px 2em;
    color: #354369;
}

.liens_individuels:active{
    background-color: grey;
    box-shadow: grey 2px 2px 2em;
    color: #feca00;
}

/* FIN 1ERE SECTION */
/* DEB 2E SECTION (A PROPOS) */

.index_apropos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
    background-color: #f5f5f5;
    gap: 20px;
}

.index_apropos_text h2{
    color: #354369;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 50px;
}

.index_apropos_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
    font-size: 25px;
    word-spacing: 2px;
    margin: auto;

}

.index_apropos_text a{
    background-color: #354369;
    margin: auto;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px 15px 5px 15px;
    border-radius: 1.5em;
    font-family: 'Teko', sans-serif;
}

.index_apropos_text a:hover{
    background-color:#f5f5f5 ;
    border: #354369 solid 1px;
    color: #354369;
}

.index_apropos_text a:active{
    background-color: #feca00;
}

.index_apropos img{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 700px ;  
}



/* FIN 2E SECTION (A PROPOS) */
/* DEB 3E SECTION (GALERIE IMG) */

.index_galerie{
    color: #f5f5f5;
    background-color: #354369;
    padding-top: 25px;
    margin-top: 4px;
    padding-bottom: 40px;
}

.index_galerie h2{
    font-size: 35px;
    text-align: center;
    color: #f5f5f5;
    font-family: 'Lobster', cursive;
} 



.index_galerie div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;
    gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* FIN 3E SECTION (GALERIE IMG) */
/* DEB 4E ET DERNIERE SECTION (FORMULAIRE) */

#contact{
    background-image: url(../images/formu\ contact.png);
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
    
    width: 100%;
}

#contact h2{
    color:#f5f5f5 ;
    text-align: center;
    font-size: 42px;
    font-family: "lobster", cursive;
    margin-top: 4px;
    margin-bottom: 50px;
    padding-top: 20px;
  }
  
  form{
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    color: white;
  }
  
  .form-nom-email{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .form-column{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
    input, textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
  }
  
  label{
    margin-bottom: 10px;
    font-size: 22px;
    color: #f5f5f5;
  }
  
  input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 2em;
    font-size: 25px;
    color: #354369;
    font-family: "teko", sans-serif;
  }

  input[type='submit']:hover{
    background-color: #feca00;
  }

  input[type=submit]:active{
    box-shadow: #feca00 2px 2px 2em;
    color: #f5f5f5
  }

/* FIN 4E ET DERNIERE SECTION (FORMULAIRE) */
/* fin main / debut FOOTER */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
footer img{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    margin-top: -35px;
    margin-bottom: -50px;

}

footer p{
    color: #354369;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}


/* fin footer */

/* DEB MEDIA QUERIES - 640px smartphone / 641px à 1100px tablette */

/* MQ TABLETTE */
@media only screen and (min-width: 641px) and (max-width: 1100px)
{
    header img{
        display: none;
    }
    nav{
    font-size: 1em;
    flex-direction: row;
    text-align: center;
    margin-bottom: 5px;
    }
    .index_apropos {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .gallerie_mq{
        display: none;
    }
    .index_galerie div{
        flex-direction: column;
        height: 50%;
        margin-bottom: -10px;
    }
    footer{
        flex-direction: column;
    }
    footer p{
        text-align: center;
    }
}

/* MQ SMARTPHONE */
@media screen and (max-width: 640px)
{
    header{
        flex-direction: column-reverse ;
    }

    header img{
       display: none; 
    }
    nav{
        font-size: 1em;
        flex-direction: column;
        text-align: center;
        margin-bottom: 5px;

        margin-bottom: 20px;
    }
    .index_presentation h1{
        text-align: center;
    }
    .liens_presentation{
        flex-direction: column;
    }
    .index_apropos {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .index_apropos img{
        display: none;
    }
    .index_apropos_text{
        font-size: 1.4em;
    }
    .gallerie_mq{
        display: none;
    }
    .index_galerie div{
        flex-direction: column;
        height: 50%;
        margin-bottom: -10px;
    }
    .form-nom-email{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    footer p{
        text-align: center;
    }
}
