header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav{
    display: flex;
    gap: 75px;
    margin-top: 3.5em;
}

nav a{
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 1.2em;
    font-family: 'Teko', sans-serif;
    color: #354369;
}

nav a:hover{
    color: #f5f5f5;
}

nav a:active{
    color: #feca00;
    text-decoration: underline;
}

header img{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 15em;
    width: auto;
    margin: -3em;
}

/* fin HEADER / Debut MAIN*/

.index_presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/fond-site-thomas.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 25em;
    width: auto;
}

.index_presentation h1{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-shadow: #feca00 2.5px 2.5px 2px ;
}

.liens_presentation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px; 
}

.liens_individuels{
    background-color: #feca00;
    color: #354369;
    background-size: 20px;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    border-radius: 2em;
    padding: 10px 20px 10px 20px;
}

.liens_individuels:hover{
    box-shadow: #feca00 2px 2px 2em;
    color: #354369;
}

.liens_individuels:active{
    background-color: grey;
    box-shadow: grey 2px 2px 2em;
    color: #feca00;
}

.index_apropos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
    background-color: #f5f5f5;
}

.index_apropos_text h2{
    color: #354369;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 50px;
}

.index_apropos_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
    font-size: 25px;
    word-spacing: 2px;
    margin: auto;

}

.index_apropos_text a{
    background-color: #354369;
    margin: auto;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px 15px 5px 15px;
    border-radius: 1.5em;
    font-family: 'Teko', sans-serif;
}

.index_apropos_text a:hover{
    background-color:#f5f5f5 ;
    border: #354369 solid 1px;
    color: #354369;
}

.index_apropos_text a:active{
    background-color: #feca00;
}

.index_apropos img{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 700px ;  
}

.index_galerie{
    color: #f5f5f5;
    background-color: #354369;
}


/* fin main */




/* fin footer */